.header{

		border: solid thin #faceee;
		padding: 2%;
		text-align: center;
		width: 40%;
		margin-right: 30%;
		margin-left: 30%;
		margin-top: 70px;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		
	}

	h3 {
  font: bold 100% "Lucida Grande";
  position: relative;
  
}

	.container{

		border: solid thin #faceee;
		padding: 2%;
		text-align: center;
		width: 40%;
		margin-right: 30%;
		margin-left: 30%;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		box-shadow: 2px 2px 4px #fefefe;

	}

	.frmInput{
		border: solid thin #faceee;
		height: 30px;
		margin-left: 2%;
		text-align: center;
		padding: 2%;
		color: #222ffe;
		border-radius: 15px;
		background: #fcfff4; /* Old browsers */
		background: -moz-linear-gradient(top, #fcfff4 0%, #e9e9ce 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #fcfff4 0%,#e9e9ce 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #fcfff4 0%,#e9e9ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	}
	.frmSelect{
		border: solid thin #faceee;
		height: auto;
		margin-left: 2%;
		text-align: center;
		padding: 2%;
		color: #222ffe;
		width: 35%;
		background: #fcfff4;
		 /* Old browsers */
background: -moz-linear-gradient(top, #fcfff4 0%, #e9e9ce 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fcfff4 0%,#e9e9ce 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fcfff4 0%,#e9e9ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	}
	.selector{
		margin-bottom: 5px;
		margin-top: 5px;
	}